<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--/*@thymesVar id="tour" type="com.travel.agency.Entity.Tour"*/-->
    <title th:title="${'-=Travel agency=-: available tours'}">Travel agency - Available tours</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../../../css/style.css" th:href="@{/css/style.css}">
</head>
<body>

<!--/*@thymesVar id="itemId" type="int"*/-->
<div th:replace="fragments/header :: header(${itemId} ? ${itemId} : 2)">Static header</div>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Tours</h2>
            <p>List of available tours for order</p>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tour title</th>
            <th>Price</th>
            <th>Information</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="tours" type="java.util.List<com.travel.agency.Entity.Tour>"*/-->
        <div th:each="tour : ${tours}">
            <tr>
                <td th:text="${tour.getTitle()}">Tour's title</td>
                <td>
                    <span th:text="${tour.getPrice()/100.0}">Tour's price</span>
                    <img src="../../../img/hot_price.png" th:src="@{/img/hot_price.png}" class="hot_tour_img_small" th:if="${tour.isHot()}">
                </td>
                <td><a href="#" th:href="@{/tours/{id}(id=${tour.getId()}, bookTour=true)}">see details</a></td>
            </tr>
        </div>
        </tbody>
    </table>
    <div class="row">
        <!--/*@thymesVar id="notFound" type="boolean"*/-->
        <div class="col-12 text-center" th:if="${notFound}" style="color: firebrick">
            <h5>Nothing found..</h5>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>